name: Flask API CI

on:
  push:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Repo'yu çek
      uses: actions/checkout@v4

    - name: Python kurulumu
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Bağımlılıkları yükle
      run: |
        pip install -r requirements.txt

    - name: Flask API'yi başlat
      run: |
        python app.py &
        sleep 10

    - name: Postman testlerini çalıştır
      uses: matt-ball/newman-action@master
      with:
        collection: ./postman_collection.json
